.brand-logo {
  margin: 10px 60px 10px 0px;
}

nav {
  background-color: rgb(78, 76, 76);
}

nav ul {
  margin: 0px auto;
  margin-bottom: 30px;
  width: 1020px;
}

nav li {
  display: inline-block;
  margin: 0px 50px 0px 0px;
  vertical-align: middle;
}

nav a {
  text-decoration: none;
  color: rgb(165, 158, 158);
  display: block;
  }

nav a:hover {
  background-color: #111;
}

main {
  width: 1020px;
  margin: 0px auto;
}

#first-product, #second-product, #third-product {
  height: 150px;
  border: solid;
}

.left-content-panel {
  margin: 0px 30px 0px 0px;
}

h1 {
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: x-large;
}

p {
  margin-bottom: 0.5em;
  font-size: medium;
}

h3 {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: medium;
}

.center-panel {
  margin: 30px 0px;
  text-align: center;
  border: solid;
}

#product-choices {
  text-align: center;
  margin: 30px auto;
}

footer {
  background-color: grey;
  text-align: center;
  height: 120px;
  margin-top: 30px;
}